
body{
    margin: 0;
    
}
header{
    background: whitesmoke;
    padding: 40px 0px;
}

nav{
    /* width: 100%; */
    /* float: unset; */
    /* right: unset; */
    /* margin: 0; */
    display: block;
    overflow: hidden;
    /* top: 0; */
    /* align-content: center; */
    margin: 0;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: sandybrown;
    text-align: center;
    /* display: -webkit-inline-box; */
}
nav ul li{
    list-style: none;
    display: inline-block;
    /* text-align: center; */
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #525252;
    font-family: serif;
    padding: 5px 20px;
    display: flex;
}
nav ul li img{
   width: 100px;
   /* height: 100px; */
   padding: 0;
   margin: 0;
   /* float: right; */
}
.banner-section{
}
.banner-section img{
    width: 100%;
}

.blog-section{}
article{
    padding: 60px;
}
article span{
    text-transform: uppercase;
    color: #01010180;
    font-size: 18px;
}
article h1{
    text-transform: capitalize;
    color: #010101a3;
    font-size: 30px;
    /* margin-bottom: 0; */
}
article p{margin-top: 0;color: #01010194;font-size: 20px;}
article a{
    color:grey;
}
p span{
    text-transform: capitalize;
    color: #010101c9;
    font-size: 25px;
    font-weight: 700;
}
.left{
    float: left;
    width: 45%;
}
.right{
    float: right;
    width: 45%;
}
section img{
    width: 100%;
}

.signup-section{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0073b1+0,0c8897+100 */
    background: #ffffff;
    min-height: 100vh;
}
.signup-box{
    width: 500px;
    margin: 0 auto;
    padding-top: 35px;
    text-align: center;
}
.signup-box img{
    /* size: 200px; */
    /* border-image-width: auto; */
    width: 200px;
    /* align-content: normal; */
    /* align-content: center; */
    flex-direction: right;
    /* float: left; */
}
.signup-box h1{
    color: #3d3d3d;
    font-size: 30px;
    text-align: center;
}
.signup-form{
    padding: 30px;
    /* background: white; */
    /* text-align: center; */
}
.signup-form form{
    padding: 20px;
    background: white;
    text-align: left;
    margin-bottom: 10px;
    box-shadow: 0px 2px 3px 1px #3d3d3dd4;
}
.signup-form form label{
    text-align: left;
    /* text-decoration: dotted; */
    color: #555;
    /* padding: 10px; */
}
.signup-form form input[type="submit"]{
    
color: white;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#008c91+0,00bcd4+100 */
    
background: #008c91; /* Old browsers */
    
background: -moz-linear-gradient(top,  #008c91 0%, #00bcd4 100%); /* FF3.6-15 */
    
background: -webkit-linear-gradient(top,  #008c91 0%,#00bcd4 100%); /* Chrome10-25,Safari5.1-6 */
    
background: linear-gradient(to bottom,  #008c91 0%,#00bcd4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008c91', endColorstr='#00bcd4',GradientType=0 ); /* IE6-9 */
    
cursor: pointer;
    
text-align: center;
    
margin-top: 10px;
    
box-shadow: 1px 1px 6px 0px #00000066;
}
.signup-form form input{
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    border: 1px solid #55555547;
    text-align: left;
}
.signup-form p{
    color: #0202029e;
    /* padding: 10px; */
    text-align: center;
    /* margin-top: 10px; */
}
.signup-form form p{
    color: #555;
    text-align: center;
    /* margin-bottom: 20px; */
}
.signup-form form p a{
    color: #555;
    text-decoration: none;
    font-weight: 600;
}